<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Shevchenko Vasiliy">
    <test name="19012023">
        <groups>
        </groups>
        <classes>
            <class name="TestWiki"/>
        </classes>

    </test>
    <listeners>
        <listener class-name="liseners.MyLisener"></listener>
    </listeners>
</suite>
